# Defaults
node_modules
*.log

# Ide
.idea
.vscode

# Site
.sass-cache
_site
## auto generated testcases
_testcases-embeds/*.*
auto-wcag-testcases
## auto generated implementations data
_data/implementations.json
_data/implementors.json