# Site settings
title: Auto-WCAG Rules
description: >
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "/auto-wcag"
url: "http://auto-wcag/github.io/"
sass:
    sass_dir: assets/css

markdown: kramdown
# Use github markdown
kramdown:
  input: GFM
  auto_ids: true
  toc_levels: 2..3

collections:
  rules:
    output: true
  drafts:
    output: true

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: rules
    values:
      name: undefined
      layout: rule
  - scope:
      path: ""
      type: drafts
    values:
      layout: rule
      draft: true
      name: undefined
      test_mode: undefined
  - scope:
      path: "pages/algorithms"
      type: pages
    values:
      layout: algorithm
      category: algorithms

exclude:
- _testcases-embeds
- _drafts/early-stage
- _drafts/outdated
- _rules/outdated