@mixin flex-column() {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@mixin flex-scroll-container() {
  flex-grow: 1;
  overflow-y: auto;
}

@mixin fixed-stretch() {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin header-style($color) {
  font-family: 'Spectral', serif;
  text-transform: capitalize;
  color: $color;
  text-decoration: none;
  margin: 1rem 0;
  display: block;
  cursor: pointer;
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn($background, $color) {
  border: 3px solid currentColor; 
  color: $color;
  background: $background;
  &:hover, &:focus, &:active {
    color: $background;
    background: $color;
    border-color: $background;
  }
}


@mixin page-container-default-styles() {
  margin: 4rem 0;
  h1{
    border-bottom: 1px solid $sep;
    padding: 2rem 0;
    text-transform: uppercase;
    margin-bottom: 0;
    text-decoration: none;
  }

  h2, h3, h4, h5, h6 {
    &:hover {
      text-decoration: underline;
    }
  }

}