// Styles for custom components
@import './animation';
@import './variables';

// react-accessible-accordion
.accordion {
  border: 1px solid $transparent;
}
.accordion__item + .accordion__item {
  border-top: 1px solid $sep;
}

.accordion__button {
  cursor: pointer;
  padding: 0.5em;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 6px;
  width: 6px;
  margin-right: 5px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  position: relative;
  top: -3px;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

.accordion__panel {
  padding: 0.5em;
  animation: fadein 0.35s ease-in;
}
