$bg-primary: #ffffff;
$bg-secondary:rgb(9, 24, 50);

$fg-primary: rgb(0, 51, 102);
$fg-secondary: #fefefe;

$sep: #f3f4f6;
$accent: #2aabff;

$black: black;
$transparent: transparent;

$success: #01a52b;
$error: #eb100c;