
@import './../../styles/base.scss';
@import './../../styles/variables';
@import './../../styles/mixins';

section.layout-container {
  @include fixed-stretch();
  overflow: hidden;
  display: flex;

  >aside {
    @include flex-column();
    flex-shrink: 0;
    background-color: $bg-secondary;
    color: $fg-secondary;
    max-width: 275px;
    padding-left: 1rem;

    >div.logo {
      flex-shrink: 0;
    }

    >nav {
      @include flex-scroll-container();

      >ul {
        @include reset-list();
        >li {
          transition: all ease;
          a {
            @include header-style($fg-secondary);
            text-transform: uppercase;
            font-size: 0.83em;
            position: relative;
            &:hover {
              color: $accent;
            }
            &.active{
              color: $accent;
              &::after{
                opacity: 1;
              }
            }
            &.parent-item{
              color: currentColor;
            }
            &::after{
              content: '';
              right: 0;
              top: -9px;
              height: 30px;
              position: absolute;
              width: 7px;
              background-color: $accent;
              opacity: 0;
            }
          }
          >ul {
            @include reset-list();
            padding-inline-start: 1rem;
            padding-inline-end: 0rem;
            >li {
              >a {
                text-transform: capitalize;
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }
  }

  >main {
    @include flex-column();
    @include flex-scroll-container();
    flex: 1;
    color: $fg-primary;
    line-height: 1.5;
    padding: 0 8rem;

    .page-container {
      margin: 4rem 0;

      h1{
        border-bottom: 1px solid $sep;
        padding: 2rem 0;
        text-transform: uppercase;
      }

      h1, h2, h3, h4, h5, h6 {
        &:hover {
          text-decoration: underline;
        }
      }

      &.rules-page{
        .rules-listing {
          >article {
            border-bottom: 1px solid $sep;
            padding: 2rem 0;

            &:last-child{
              border-bottom: none;
            }

            div.meta {
              span {
                padding: 0.25rem 0.5rem;
                
                
                &.heading {
                  background-color: $sep;
                }
                &.meta-item {
                  background-color: $bg-secondary;
                  color: $fg-secondary;
                  border-left: 1px solid $sep;
                  cursor: pointer;

                  &:hover {
                    color: $accent;
                  }
                }

              }
            }
          }
        }
      }
    }
  } 
}