@import './../styles/variables';

.glossary-page {

    >h1 {
      padding: 4rem 0;
      border-bottom: 1px solid $sep;
      margin: 0;
    }

    >article {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2rem 0;

      &:last-child{
        border-bottom: none;
      }
    }

}