@import './../../styles/variables';

header.app-header {
  max-width: 200px;

  a {
    color: $accent;
    text-decoration: none;
  }

  h2 {
    padding: 1.25rem 0;
    margin: 0;
    color: $accent;
    font-weight: bolder;
    width: 150px;
  }

  p.tag {
    font-size: 75%;
    font-style: italic;
    opacity: 0.9;
  }

  div.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem 0;

    a.logo-w3c{
      margin-right: 1rem;
      svg {
        color: inherit;
        vertical-align: middle;

        path {
          fill: $bg-primary;
        }
      }

      &:hover {
        svg {
          path {
            fill: $accent;
          }
        }
      }
    }

    a.logo-wai{
      color: $bg-primary;
      margin-right: 1rem;
      &:hover {
        span {
          color: $accent;
        }
      }
      span.wai {
        font-size: 0.75rem;
        display: flex;
          justify-content: center;
          flex-direction: column;

        span.wa{
          padding-bottom: 2px;
        }
        span.i{
          border-top: 1px solid #eed009;
          padding-top: 2px;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }


      }
    }

    a.logo-github {
      svg {
        color: inherit;
        vertical-align: middle;
        path {
          fill: $bg-primary;
        }
      }

      &:hover {
        svg {
          path {
            fill: $accent;
          }
        }
      }
    }
  }

}