---
layout: default
---

<h1>Auto-WCAG Drafts</h1>

<table>
  <thead>
    <tr>
      <th>Rule name</th>
      <th>Test mode</th>
      <th>WCAG criterion</th>
    </tr>
  </thead>
  {% for draft in site.drafts %}
  <tr>
    <th><a href="{{ draft.url }}">{{
      draft.name
    }}<br>(<i>{{ draft.rule_id }}</i>)</a></th>
    <td>{{ draft.test_mode }}</td>
    <td><ul>
      {% for criterion in draft.criteria %}
        <li>{% for critSpec in criterion %}
          <a href="https://www.w3.org/TR/WCAG20/#{{ critSpec[0] }}"
            target="_blank">{{ critSpec[1] }}</a>
        {% endfor %}</li>
      {% endfor %}
    </ul></td>
  </tr>
  {% endfor %}
</table>
