---
layout: default
title: Auto-WCAG Drafts
---
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Rule name</th>
      <th>Test mode</th>
      <th>WCAG criterion</th>
    </tr>
  </thead>
  {% for draft in site.drafts %}
  <tr>
    <th><a href="{{ draft.url | prepend: site.baseurl }}">{{
      draft.name
    }}<br>(<i>{{ draft.rule_id }}</i>)</a></th>
    <td>{{ draft.test_mode }}</td>
    <td><ul>
      {% for criterion in draft.success_criterion %}
        <li>
          {% if site.data.criteria[criterion] %}
            <a href="{{ site.data.criteria[criterion].url }}" target="_blank">
            {{ site.data.criteria[criterion].num }}
            {{ site.data.criteria[criterion].handle }}
            (Level {{ site.data.criteria[criterion].level }})
            </a>
          {% else %}
            {{ criterion }} <em>(unknown)</em>
          {% endif %}
        </li>
      {% endfor %}
    </ul></td>
  </tr>
  {% endfor %}
</table>
