---
layout: default
title: Auto-WCAG Rules
---

<table class="table table-striped">
  <thead>
    <tr>
			<th width='25%'>Name</th>
      <th>Description</th>
      <th width='35%'>Meta Data</th>
    </tr>
	</thead>
	{% assign rulesAndDrafts = site.rules | concat: site.drafts | sort: 'name' %}
  {% for rule in rulesAndDrafts %}
  <tr>
    <td>
			{% if rule.draft %}
				<p class="draft-note slim vertical">Draft</p>
			{% endif %}
			<a href="{{ rule.url | prepend: site.baseurl }}">{{rule.name}}</a>
		</td>
    <td>
			{{ rule.description }}
		</td>
    <td>
			<table class="table">
				<tr>
					<th scope="row">Rule Id:</th>
					<td>{{ rule.url | remove: "/rules/" | remove: ".html" }}</td>
				</tr>
				<tr>
					<th scope="row" width='60px'>WCAG Criterion: </th>
					<td>
						<ul style="list-style: none; padding-left: 0;">
							{% for criterion in rule.success_criterion %}
								<li>
									{% if site.data.criteria[criterion] %}
										<a href="{{ site.data.criteria[criterion].url }}" target="_blank">
										{{ site.data.criteria[criterion].num }}
										{{ site.data.criteria[criterion].handle }}
										(Level {{ site.data.criteria[criterion].level }})
										</a>
									{% else %}
										{{ criterion }} (unknown)
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
		</td>
  </tr>
  {% endfor %}
</table>


