---
layout: default
title: Auto-WCAG Rules
---

<table class="table table-striped">
  <thead>
    <tr>
			<th width='3%'>#</th>
			<th width='25%'>Name</th>
      <th>Description</th>
      <th width='35%'>WCAG Criterion</th>
    </tr>
	</thead>
	<!-- {% assign rulesAndDrafts = site.rules | concat: site.drafts | sort: 'name' %} -->
	{% assign rulesAndDrafts = site.rules | sort: 'name' %}
  {% for rule in rulesAndDrafts %}
  <tr>
		<td>
			{{ forloop.index }}
		</td>
    <td>
			<a class='rule-list-title' href="{{ rule.url | prepend: site.baseurl }}">{{rule.name}}</a>
			{% if rule.draft %}
				<p class="draft-note slim">Draft</p>
			{% endif %}
		</td>
    <td>
			{{ rule.description }}
		</td>
		<td>
			<ul style="list-style: none; padding-left: 0;">
				{% for criterion in rule.success_criterion %}
					<li>
						{% if site.data.sc-urls[criterion] %}
							<a href="{{ site.data.criteria[criterion].url }}" target="_blank">
								{{ site.data.sc-urls[criterion].num }} {{ site.data.sc-urls[criterion].handle }} - (Level: {{ site.data.sc-urls[criterion].level }})
							</a>
						{% else %}
							{{ criterion }} (unknown)
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</td>
  </tr>
  {% endfor %}
</table>


<section class="cards-section text-center">
	<!-- 		
	<h2 class="title">
		Download Test Cases of Rules
	</h2>
	
	<div class="intro">
		<p>
			Each of the test cases with the rules can be downloaded for integration with your test tool from here.
		</p>
		<div class="cta-container">
			<a class="btn btn-primary btn-cta"
				href="http://themes.3rdwavemedia.com/" 
				target="_blank">
				<i class="fas fa-file-download"></i>
				Download Now
			</a>
		</div>
	</div> 
	-->

	<div id="cards-wrapper" class="cards-wrapper row">
		<div class="item item-primary col-md-6 col-sm-6 col-xs-12">
			<div class="item-inner">
				<a class="link" href="https://github.com/auto-wcag/auto-wcag/pulls">
					<h3 class="title">DRAFT RULES</h3>
					<div class="icon-holder">
						<i aria-hidden="true" class="fab fa-firstdraft fa-5x"></i>
					</div>
					<p class="intro">
						See all currently authored rules.
					</p>
				</a>
			</div>
		</div>
		<div class="item item-primary col-md-6 col-sm-6 col-xs-12">
				<div class="item-inner">
					<a class="link" href="https://github.com/auto-wcag/auto-wcag/issues">
						<h3 class="title">ISSUES</h3>
						<div class="icon-holder">
							<i aria-hidden="true" class="fas fa-bug fa-5x">
							</i>
						</div>
						<p class="intro">
							 See all issues & feel free to contribute.
						</p>
					</a>
				</div>
			</div>
	</div>

</section>