@import './../../styles/variables';

footer.app-footer {
  color: $bg-secondary;
  padding: 0rem 4rem;
  border-top: 1px solid $fg-primary;
  height: 55px;
  width: auto;
  z-index: 1;
  background-color: $sep;

  a {
    color: $accent;
  }

  h2 {
    padding: 0.75rem 0;
    margin: 0;
    color: $accent;
    font-weight: bolder;
    width: 150px;
  }


  div.tags{
    flex: 1;

    p.tag {
      a{
        color: darken($accent, 30%);
      }
      font-size: 75%;
      font-style: italic;
      opacity: 0.9;
      
    }
  }

  div.logos{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;

    a.logo-w3c{
      margin-top: 0.25rem;
      margin-right: 1rem;
      svg {
        color: inherit;
        vertical-align: middle;

        path {
          fill: $bg-secondary;
        }
      }

      &:hover {
        svg {
          path {
            fill: darken($accent, 30%);
          }
        }
      }
    }

    a.logo-wai{
      color: darken($accent, 30%);
      color: $bg-secondary;
      margin-right: 1rem;
      text-decoration: none;
      &:hover {
        span {
          color: darken($accent, 30%);
        }
      }
      span.wai {
        font-size: 0.75rem;
        display: flex;
          justify-content: center;
          flex-direction: column;

        span.wa{
          padding-bottom: 2px;
        }
        span.i{
          border-top: 1px solid #eed009;
          padding-top: 2px;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }


      }
    }

    a.logo-github {
      svg {
        color: inherit;
        vertical-align: middle;
        path {
          fill: $bg-secondary;
        }
      }

      &:hover {
        svg {
          path {
            fill: darken($accent, 30%);
          }
        }
      }
    }
  }

}