<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        Auto-WCAG Rules
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/pages/rules.html">Rules</a></li>
        <li><a href="{{ site.baseurl }}/pages/methodology.html">
            Test Methodology
        </a></li>
        <li><a href="https://www.w3.org/community/auto-wcag/">Auto-WCAG Website</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<main class="container">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {{ content }}
</main>

</body>
</html>