---
layout: default
---

{% assign ruleId = page.url | remove: "/rules/" | remove: "/drafts/" | remove: ".html" %}

{% if page.draft %}
  {% assign status = "draft" %}
  <p class="draft-note slim">draft</p>
{% else %}
  {% assign status = "rule" %}
{% endif %}

{% if page.last-modified-timestamp %}
  <p>Last updated: 
		<time 
			datetime="{{ page.last-modified-timestamp | date_to_xmlschema }}" 
			itemprop="dateModified">
			{{ page.last-modified-timestamp | date: "%b %-d, %Y" }}
		</time>
	</p>
{% endif %}

{% if page.authors %}
  <p>
    Created by: 
    <ul>
      {% for author in page.authors %}
        {% if site.data.contributors[author] %}
        <li>  
          <a href="{{ site.data.contributors[author].site }}">
            {{site.data.contributors[author].name}}
          </a>
        </li>
        {% else %}
        <li>
          {{ author }}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </p>
{% endif %}


{% if page.success_criterion %}
  <p>
    Success Criterion: 
    <ul>
			{% for sc in page.success_criterion %}
        {% assign c = site.data.sc-urls[sc] %}
        <li>
          <a href="{{ c.url }}">
            {{ c.num }} ({{ c.handle }}) - (Level: {{c.level}})
          </a>
          {% if forloop.last == false %}, {% endif %}
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% if page.description %}
  <h2 id="description">Description</h2>
  <p>{{ page.description | markdownify }}</p>
{% endif %}

{% if page.success_criterion %}
  <h2 id="requirements">Accessibility Requirements</h2>
  <p>This conformance rule relates to:</p>
  <ul>
  {% for critId in page.success_criterion %}
    {% assign criterion = site.data.sc-urls[critId] %}
    <li>
      <a href="{{ criterion.url }}">
        Success Criterion {{ criterion.num }} ({{ criterion.handle }})
      </a>
      <ul>
        <li>
					<a href="{{ criterion.howToMeetUrl }}">
          	How to Meet {{ criterion.num }} ({{ criterion.handle }})
					</a>
				</li>
        <li>
					<a href="{{ criterion.understandingUrl }}">
          	Understanding Success Criterion {{ criterion.num }} ({{ criterion.handle }})
					</a>
				</li>
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{{ content }}

<!-- DO NOT DELETE BELOW - This is used by a plugin to insert content -->
<!--PLUGIN::APPEND-DEFINITION-->
<!-- DO NOT DELETE ABOVE - This is used by a plugin to insert content -->

<div>
	{% if page.test_aspects %}
		<h2 id="test-aspects">Test Aspects</h2>
		Test aspects are defined as part of the <a href="https://w3c.github.io/wcag-act/act-rules-format.html#input-aspects-common">ACT Rules format 1.0</a>.
		<ul>
		{% for aspect in page.test_aspects %}
			<li>{{ aspect | markdownify }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	<h2 id="related-resources">Related Resources</h2>
	<ul>
		<li><a href="{{site.data.package.bugs.url}}">Known issues</a></li>
	</ul>
</div>