name: Run test(s)

# Run on PR's targetting `develop` branch
on:
  pull_request:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - name: npm install & build
      run: |
        npm install
        npm run test
      env:
        CI: true